{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
</head>

<body>
    <div class="landing_page">
        <header>
            <div class="navigation">
                <div class="navigation_wrapper">
                    <div class="middle_nav_wrapper">
                        <div class="middle_nav">
                            <div class="logo">
                                <div class="text_wrapper">MERKACHECHERES</div>
                            </div>
                            <div class="frame">
                                <div class="div_wrapper">
                                    <div class="div">Inicio</div>
                                </div>
                                <div class="btn_primary_wrapper">
                                    <div class="btn_primary">
                                        <div class="btn_text">Categorías</div>
                                        <img class="img_wrapper" src="{% static 'img/chevron-down.png' %}" />
                                    </div>
                                </div>
                                <div class="div_wrapper">
                                    <div class="div">Catálogo</div>
                                </div>
                            </div>
                            <div class="buscar">
                                <div class="text_wrapper_2">Busca cualquier cosa...</div>
                            </div>
                            <div class="frame_2">
                                <div class="iniciar_crear_cuenta">
                                    <div class="btn_login">
                                        <button class="button_text_wrapper"
                                            onclick="window.location.href='{% url 'login' %}'">Iniciar Sesión</button>
                                    </div>
                                    <div class="btn_registro">
                                        <button class="button_text_wrapper"
                                            onclick="window.location.href='{% url 'registro' %}'">Crear Cuenta</button>
                                    </div>
                                </div>
                                <div class="icons">
                                    <img class="shopping_cart_simple" src="{% static 'img/Heart.png' %}" />
                                    <div class="shopping_cart_simple">
                                        <div class="overlap_group">
                                            <img class="vector_3" src="{% static 'img/Shopping.png' %}" />
                                            <div class="frame_3">
                                                <div class="text_wrapper_3">2</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="hero_secction">
                <div class="widgets">
                    <div class="frame_4">
                        <div class="overlap_group_wrapper">
                            <div class="overlap_group_2">
                                <div class="rectangulo"></div>
                                <div class="rectangulo_2"></div>
                                <div class="rectangulo_3"></div>
                                <p class="descubre_productos">
                                    DESCUBRE PRODUCTOS ÚNICOS<br />
                                    A PRECIOS QUE TE SORPRENDERÁN.
                                </p>
                            </div>
                        </div>
                        <p class="p">
                            Únete a nuestra comunidad para comprar y vender de manera fácil, segura y sostenible, mientras
                            cuidas el
                            planeta y encuentras tesoros únicos.
                        </p>
                        <div class="btn_explorar">
                            <button class="button_text_wrapper"
                                onclick="window.location.href='{% url 'login' %}'">Explorar ahora</button>
                        </div>
                        <div class="frame_5_publicidad ">
                        </div>
                    </div>
                    <div class="publicidad">
                    </div>
                    <div class="publicidad_2">
                        <div class="frame_6_publicidad"></div>
                        <div class="frame_7_publicidad"></div>
                    </div>
                </div>
            </section>
            <section class="mejores-vendedores">
                    <div class="overlap_group-3">
                        <div class="rectangulo_4 text_wrapper-4">Mejores Vendedores</div>
                    </div>
                    <div class="arrrow_wrapper">
                        <div class="arrrow">
                            <img class="flecha-izquierda" />
                            <div class="seller_card frame_8"></div>
                            <div class="seller_card frame_9"></div>
                            <div class="seller_card frame_10"></div>
                            <div class="seller_card frame_11"></div>
                            <div class="seller_card frame_12"></div>
                            <img class="flecha-derecha" />
                        </div>
                    </div>
            </section>
            <section class="categorias">
                <div class="heading_categ">
                        <div class="rectangulo_6 text_wrapper-5">Buscar por Categoría</div>
                </div>
                <div class="category">
                    <div class="overlap">
                        <div class="items">
                            <div class="frame-15">
                                <img class="frame-14" />
                                <div class="text_wrapper-6">Computador</div>
                            </div>
                            <div class="frame-15">
                                <div class="frame-16"></div>
                                <div class="text_wrapper-7">SmartPhone</div>
                            </div>
                            <div class="frame-15">
                                <div class="frame-17"></div>
                                <div class="text_wrapper-7">Headphones</div>
                            </div>
                            <div class="frame-15">
                                <div class="frame-18"></div>
                                <div class="text_wrapper-7">Accesorios</div>
                            </div>
                            <div class="frame-15">
                                <div class="frame-19"></div>
                                <div class="text_wrapper-7">Camaras</div>
                            </div>
                            <div class="frame-15">
                                <div class="frame-20"></div>
                                <div class="text_wrapper-7">TV &amp; Hogar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="explorar-productos">
                <div class="productos">
                    <div class="heading_3">
                        <div class="overlap_2">
                            <div class="rectangulo_5 text_wrapper-11">Explora nuestros productos</div>
                        </div>
                    </div>
                    <div class="contenedor-productos">
                        <div class="product">
                            <div class="frame-21">
                                <div class="btn_primary-4">
                                    <div class="btn_text-5">25% OFF</div>
                                </div>
                            </div>
                            <div class="product_image img_2"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <div class="stars">
                                        <img src="{% static 'img/Star.png' %}" alt="">
                                        Crear Cuenta                  </div>
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_3"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="overlap_group-5">
                                <div class="product_image img_4"></div>
                                <div class="content-2">
                                    <div class="frame-22">
                                        <img src="{% static 'img/Star.png' %}" alt="">
                                        <div class="text_wrapper-8">(876)</div>
                                    </div>
                                    <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                    <div class="precio">
                                        <div class="text_wrapper-10">250.000</div>
                                    </div>
                                </div>
                                <div class="BG"></div>
                                <div class="btn_primary-5">
                                    <div class="img_wrapper"><img class="group" src="{% static 'img/Shopping.png' %}" /></div>
                                    <div class="btn_text-6">Añadir al carrito</div>
                                </div>
                                <div class="btn_primary-6">
                                    <div class="img_wrapper"><img class="heart" src="{% static 'img/heart2.png' %}" /></div>
                                    <button class="button">Like</button>
                                </div>
                                <div class="btn_primary-7">
                                    <img class="img_wrapper" src="{% static 'img/share.png' %}" /> <button
                                        class="button">Share</button>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_5"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_6"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_7"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_8"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_9"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-">
                            <div class="overlap_group-5">
                                <div class="product_image img_10"></div>
                                <div class="content-2">
                                    <div class="frame-22">
                                        <img src="{% static 'img/Star.png' %}" alt="">
                                        <div class="text_wrapper-8">(876)</div>
                                    </div>
                                    <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                    <div class="precio">
                                        <div class="text_wrapper-10">250.000</div>
                                    </div>
                                </div>
                                <div class="BG"></div>
                                <div class="btn_primary-5">
                                    <div class="img_wrapper"><img class="group" src="{% static 'img/Shopping.png' %}" /></div>
                                    <div class="btn_text-6">Añadir al carrito</div>
                                </div>
                                <div class="btn_primary-6">
                                    <div class="img_wrapper"><img class="heart" src="{% static 'img/heart2.png' %}" /></div>
                                    <button class="button">Like</button>
                                </div>
                                <div class="btn_primary-7">
                                    <img class="img_wrapper" src="{% static 'img/share.png' %}" /> <button
                                        class="button">Share</button>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product_image img_11"></div>
                            <div class="content">
                                <div class="frame-22">
                                    <img src="{% static 'img/Star.png' %}" alt="">
                                    <div class="text_wrapper-8">(876)</div>
                                </div>
                                <p class="text_wrapper-9">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                                <div class="precio">
                                    <div class="text_wrapper-10">250.000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left-contents">
                        <div class="btn_primary-3">
                            <div class="btn_text-4">
                                Explorar todos los productos</div>
                        </div>
                    </div>
                </div>
            </section>
        </main>       
        <footer class="footer">
            
                <div class="frame-23">
                    <div class="frame-24">
                        <div class="sobre_nosotros frame-25">
                            <div class="text_wrapper-12">Sobre Nosotros</div>
                            <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo
                                funciona<br />Contacto</div>
                        </div>
                        <div class="enlaces frame-25">
                            <div class="text_wrapper-12">Enlaces Útiles</div>
                            <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo
                                funciona<br />Contacto</div>
                        </div>
                        <div class="soporte frame-25">
                            <div class="text_wrapper-12">Soporte al Cliente</div>
                            <p class="text_wrapper-13">
                                Preguntas Frecuentes (FAQ)<br />Políticas de Devolución<br />Términos y
                                Condiciones<br />Política de
                                Privacidad<br />Centro de Ayuda o Soporte
                            </p>
                        </div>
                        <div class="contacto frame-25">
                            <div class="text_wrapper-12">Contacto</div>
                            <div class="text_wrapper-13">soporte@merkachecheres.com<br />+57 323 58545 852</div>
                        </div>
                    </div>
                    <div class="frame-26">
                        <p class="text_wrapper-14">
                            © 2024 Merkachécheres. Todos los derechos reservados. Los productos, imágenes y
                            descripciones publicados
                            son propiedad de sus respectivos dueños. Merkachécheres no se hace responsable por la
                            precisión del
                            contenido publicado por los usuarios. Consulta nuestros términos y condiciones para más
                            información.
                        </p>
                        <div class="frame-27"></div>
                    </div>
                </div>
                <div class="frame-28">
                    <div class="frame-29">
                        <p class="text_wrapper-15">
                            Únete a nuestra comunidad y recibe descuentos y noticias directamente en tu correo
                        </p>
                    </div>
                    <div class="frame-30">
                        <div class="contenedor_inputs">
                            <div class="email">
                                <img class="group-2" />
                            </div>
                            <input type="email" name="" id="" class="text-field" placeholder="Ingresa tu correo electronico">
                        </div>
                        <div class="butttons-secondary" 
                        onclick="window.location.href='{% url 'registro' %}'">Suscríbete ahora</button>
                        </div>
                    </div>
                </div>
            
        </footer>
    </div>
</body>
</html>